html{
  font-size: 62.5%;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  color: #333333;
  line-height: 1;
  overflow-x: hidden;
  font-weight: bold;
    /* スマホ横向きのサイズ調整 */
  -webkit-text-size-adjust:100%
}

a{
  display: inline-block;
  text-decoration: none;
}

li{
  list-style: none;
}

h1, h4, h5, h6{
  font-weight: normal;
  line-height: 1;
}
h2, h3{
  font-weight: bold;
}

img,svg{
  width: 100%;
  vertical-align: bottom;
}
